[[source]]
url = 'https://pypi.org/simple/'
verify_ssl = true
name = 'pypi'

[packages]
# provider
googlemaps = '>=4.10.0'

# web request
requests = '*'
lxml = '*'
pydantic = '*'

# data science
pandas = '*'
openpyxl = '*'
geopy = ">=2.4"
geopandas = ">=0.14.4"

# utilities
tqdm = '*'
loguru = '*'
sqlalchemy = '*'
timeit = '*'

[requires]
python_version = "3.9"
