[[source]]
url = 'https://pypi.org/simple/'
verify_ssl = true
name = 'pypi'

[packages]
# ai
openai = '*'

# statistical model
statsmodels = '>=0.14'

# provider
#googlemaps = '>=4.10.0'

# web request
requests = '*'
lxml = '*'
pydantic = '*'

# data science
pandas = '*'
openpyxl = '*'
geopy = '*'
geopandas = '*'
matplotlib = '*'

# utilities
tqdm = '*'
loguru = '*'
sqlalchemy = '*'

[requires]
python_version = "3.9.1"
