[[source]]
url = 'https://pypi.org/simple/'
verify_ssl = true
name = 'pypi'

[packages]
# provider
googlemaps = '>=4.10.0'

# web request
requests = '*'
lxml = '*'
pydantic = '*'

# data science
pandas = '*'
geopandas = '*'

# utilities
tqdm = '*'
loguru = '*'
sqlalchemy = '*'

[requires]
python_version = "3.9"
